body {
  background-color:black;
  color:white;
  text-align:center;
  font-size:145%;
  font-family:monospace;
}
/* unvisited link */
a:link {
    color: #00FF00;
}

/* visited link */
a:visited {
    color: #00FF00;
}

/* mouse over link */
a:hover {
    color: #FF00FF;
}

/* selected link */
a:active {
    color: #F3F315;
}

p {
  font-size:200%;
}

div {
  color: #F3f315;
  font-size:175%;
}

h3 {
  color:red;
}

p:hover, div:hover {
  color:#FF00FF;
}

.result {
  width:75px;
  height:75px;
}

.result:hover {
  width: 85px;
  height: 85px;
}

.sonic, .sonic:hover {
  font-size: 400%;
  color: blue;
  float:none;
}

.tails, .tails:hover {
  font-size: 400%;
  color: orange;
  float: none;
}

.try {
  font-size: 200%;
  color: orange;
}

.small {
  width:45px;
  height:45px;
}

table {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size: 150%;
  padding: 20px;
  background-color: #ffc4cd;
}

td {
  padding: 10px;
}

td:hover {
  color: black;
  background-color: #ffb6c1;
}

tr:hover {
  color: grey;
  background-color: #e5a3ad ;
}
